[submodule "tribler-prototype/tribler"]
	path = tribler-prototype/tribler
	url = git@github.com:wtud/tribler.git
[submodule "tribler-prototype/pidcat"]
	path = tribler-prototype/pidcat
	url = git@github.com:wtud/pidcat.git
[submodule "tribler-prototype/python-for-android"]
	path = tribler-prototype/python-for-android
	url = git@github.com:wtud/python-for-android.git
