<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.minimalP4a"
          android:versionCode="100"
          android:versionName="1.0"
          android:installLocation="auto"
          >

  <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        
        android:xlargeScreens="true"
        
        />

  <application android:label="@string/appName"
               android:icon="@drawable/icon"
			   android:hardwareAccelerated="true"
               >

	
    <meta-data android:name="fullscreen" android:value="1"/>
    <meta-data android:name="wakelock" android:value="0"/>


    <activity android:name="org.renpy.android.PythonActivity"
              android:label="@string/iconName"
			  android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode|screenSize"
              android:launchMode="singleTask"
              android:process=":python"
              android:screenOrientation="landscape"
              android:windowSoftInputMode="stateAlwaysHidden"
            >

      
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      

      

      
    </activity>

    
	<service android:name="org.renpy.android.PythonService" />
    
    

	

  </application>

  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
  
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  

  


<uses-feature android:glEsVersion="0x00020000" />
</manifest>